<% if user_signed_in? %>
<h1>Students</h1>

<table class="table ">
    <tr>
     <th > Name</th>
      <th >Email</th>
      <th >Phone</th>
      <th> Twitter </th>
      <th> User ID </th>


    </tr>
  </thead>
    <tbody>
        <% @students.each do |student| %>
        <% if student.user == current_user%> 

<tr>
      <td> <%= link_to student.first_name  + student.last_name   , student %> </td>      

      <td><%= student.email%></td>
      <td><%= student.phone %></td>
      <td><%= student.twitter %></td>
      <td><%= student.user_id %></td>

    
    <td><%= button_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger"%></td>


<%end%>
  <% end %>
  </tbody>
</table>

<%= link_to "New student", new_student_path, class:"btn btn-primary" %>
<% else %>
<h1>Hello Osama first webage</h1>
    My webage !
<%end%>
